/* Default styles for the MiniContent component */
.show-on-small-screen {
  display: none; /* Display the component by default */
}

@media (max-width: 975px) {
  .show-on-small-screen {
    visibility: visible;
  }
  #id-toggle-button {
    display: block;
    visibility: visible;
  }

  #id-mini-end{
    display: block;
    visibility: visible;
    font-size: small;
  }

  /* #id-tag-mini-end{
    visibility: hidden;
  } */
}

@media (min-width:976px) {
    #id-side-bar{
        display: none;
    }
}

